body{
    font-family: 'Roboto', sans-serif;
}
.container{
    display: grid;
    grid-gap: 5px;
    grid-template-areas:
    'nav nav nav nav' 
    'head head head head'
    'service service service service'
    'section section section section'
    'footer footer footer footer'
}
#service{
    display: block;
    margin: auto;
    margin-top: 20px;
    grid-area: service;
}
.nav{
    grid-area: nav;
     display: flex;
    height: 50px;
    background-color: black;
    position: sticky;
}

.nav a{
    padding-left: 30px;
    text-decoration: none;
    color: white;
    margin: 10px;
}

.head{
    height: 450px;
    grid-area: head;
    position: relative;
    margin:auto;
    margin-top: 10px;
}

.head::after{
    margin-top: 15px;
    width: 1500px;
    height: 500px;
    position: absolute;
    content: "";
    justify-content: center;
    z-index: -1;
    opacity: 0.8;
    background: url("../Multimedia/Img1.jpg")no-repeat;
    
}

.nav a:hover{
    color: gray;
    text-decoration: underline;
}

.section{
    grid-area: section;
    display: grid;
    margin-top: 10px;
    margin: auto;
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
}

.section h3{
    text-align: center;
}

.items{
    padding: 30px;
    box-shadow: 1px 1px 5px ;
    margin: 10px;
}

.footer{
    margin-top: 70px;
    grid-area: footer;
     display: flex;
    height: 50px;
    background-color: black;
    position: sticky;
}

.footer a{
    padding-left: 30px;
    text-decoration: none;
    color: white;
    margin: 10px;
}

.footer a:hover{
    color: gray;
    text-decoration: underline;
}